/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #37373A;
    display: flex;
    flex-direction: column; /* this says how the flex items will align (e.g. 'row') */
    align-items: center; /* These next two properties center the flex items */
    justify-content: center;
}

@media screen and (min-width: 925px) {
  .pslo-courses-container {
    display: flex;
    flex-direction: row;
    max-width: 53em;
  }
}

@media screen and (max-width: 600px) {
  .style li a {
    padding: 0 50%;
    display: flex;
    flex-direction:column;
  }
}

.pslo-courses-container {
  font-family: 'Aldrich', monospace;
  color: #DDDACF;
}

#main-title {
  color: #3F9C92;
  font-family: 'Aldrich', monospace;
  text-align: center;
  font-size: 4rem;
  background-color: #19191b;
  width: 100%;
  border-radius: 20px;
  margin: 50px;
  padding: 5%;
}

#style {
  position: fixed;
  align-content: stretch;
  background-color: #19191b;
  left: 0;
  right: 0;
  top: 0;
}

#style ul {
  list-style-type: none;
  display: inline-flex;
  flex-direction: column;
  color: #3F9C92;
  padding: 0% 5%;
}

#style li {
}

#style li a {
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #3F9C92;
  font-family: 'Aldrich', monospace;
  font-size: 1.4rem;
  text-decoration: none;
}
.section {
  border-radius: 25px;
  padding: 20px;
  border: 5px solid;
  margin: 10px;
  max-width: 48em;
  border-color: #3F9C92;
  background-color: #414b51;
}
.pslo {
  color: #8ba2b5;
}
.section ul {
  color: #8ba2b5;

}

