/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #aaaaaa;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a93d50;
}

#style li {
  float: right; /* here we change the positioning and ordering of elements in the nav bar */
}

#style li a {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  display: block;
  color: #72c8b6;
  text-align: center;
  padding: 14px 16px; /*this adds some spacing around the items in our "nav bar" */
  text-decoration: none;
  text-transform: lowercase; /* here we make the list items lowercase by default, so we can capitalize the selected one when it's hovered */
}

/* on hover, we swap the background color and the font color, and we capitalize the selected item */
#style li a:hover {
  background-color: #72c8b6;
  color: #a93d50;
  text-transform: uppercase;
}

#style {
  position: fixed;
  background-color: #72c8b6;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
}
