/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

/* aesthetic: beaches, ice cream */

body {
  padding: 30px;
  background-color: #e9dca2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://www.setaswall.com/wp-content/uploads/2017/03/Beach-Palm-Trees-Wallpaper-4368x2912.jpg');
}

#main-title {
  background-color: #d9793e;
  color: #ead43e;
  text-align: center;
  font-family: 'Marcellus', sans-serif;
  border-radius: 20px;
  border-style: solid;
  border-width: 5px;
  border-color: #ead43e;
  /*color: #66bc84; use later */
}

.faculty-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#style ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #a93d50;
}

#style li {
  float: right; /* here we change the positioning and relative ordering of elements in the nav bar */
}

#style li a {
  font-family: 'Dancing Script', cursive;
  font-size: 1.5rem;
  display: block;
  color: #72c8b6;
  text-align: center;
  padding: 0 16px; /*adds spacing between items in the nav bar, but not above or below */
  text-decoration: none;
  text-transform: lowercase; /* here we make the list items lowercase by default, so we can capitalize the selected one when it's hovered */
}

/* on hover, we swap the background color and the font color, and we capitalize the selected item */
#style li a:hover {
  background-color: #72c8b6;
  color: #a93d50;
  text-transform: uppercase;
}

#style {
  position: fixed;
  background-color: #72c8b6;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
