/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/

body{
    padding: 30px;
    background-color: #aaaaaa;
}

#style {
  position: fixed;
  background-color: #7A0019;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
  padding-top: 10px;
}
